@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset browser margins & ensure full height rendering */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Background color (light) */
body {
  background-color: #f3f4f6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
